@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

:root {
	--color-bg: #2E3440;
	--color-bg-alt: #3B4252;
	--color-fg: #D8DEE9;
	--color-blue: #81A1C1;

	--backbutton-background: rgba(0, 0, 0, 0) !important;
	--backbutton-border-color: rgba(0, 0, 0, 0) !important;
	--tab-line-color: var(--color-blue) !important;
}

@font-face {
    font-family: 'm_1mregular';
    src: url('mplus-1m-regular-webfont.eot');
    src: url('mplus-1m-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('mplus-1m-regular-webfont.woff2') format('woff2'),
         url('mplus-1m-regular-webfont.woff') format('woff'),
         url('mplus-1m-regular-webfont.ttf') format('truetype'),
         url('mplus-1m-regular-webfont.svg#m_1mregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

:root:-moz-lwtheme-brighttext {
  --chrome-background-color: #2E3440 !important;
  --chrome-color: #D8DEE9 !important;
  --chrome-secondary-background-color: #3B4252 !important;
  --toolbox-border-bottom-color: #2E3440 !important;
  --url-and-searchbar-border-color: #333333 !important;
  --focus-ring-box-shadow: #81A1C1 !important;
  --url-and-searchbar-background-color: #2E3440 !important;
}

toolbar {
	font-family: 'm_1mregular', monospace !important;
	font-size: 12px;

}

/* Address bar focus styles */
#urlbar[focused="true"], .searchbar-textbox[focused="true"] {
  border-color: var(--color-blue) !important;
}

/* Remove top border of selected tab */
:root:-moz-lwtheme {
  --tab-line-color: none !important;
}

/* Fixing container tab borders */
[data-identity-color="blue"] {
  --identity-tab-color: #7193F7 !important;
  --identity-icon-color: #7193F7 !important;
}
[data-identity-color="green"] {
  --identity-tab-color: #71F78A !important;
  --identity-icon-color: #71F78A !important;
}
[data-identity-color="orange"] {
  --identity-tab-color: #F2DE73 !important;
  --identity-icon-color: #F2DE73 !important;
}
[data-identity-color="pink"] {
  --identity-tab-color: #F771E7 !important;
  --identity-icon-color: #F771E7 !important;
}

/* Make normal density theme bit compact */
:root:not([uidensity=compact]) #back-button {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
:root:not([uidensity=compact]) #back-button > .toolbarbutton-icon {
  background-color: unset !important;
  border: none !important;
}
